#header1{
    width: 100%;
    height: 100%;
    margin-top: 0;
}

#header1 h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;

}


#header1 .brand-name{
    color: #3498db;

}

#header1 h2{
    color: #484848;
    font-size: 24px;

}

#header1 .btn-get-started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
    

}

#header1 .btn-get-started:hover{
    background: #3498db;
    color: #fff;
}

.header-img{
    text-align: right;
}

.header-img2{
    text-align: left;
}
// #header1 .animated{
//     animation: up-down 1s ease-in-out infinite alternate-reverse both;
// }

// @-webkit-keyframes up-down{

// 0%{
//     transform: translateY(10px);
// }

// 100%{
//     transform: translateY(-10px);
// }


// }

// @keyframes up-down{
//     0%{
//         transform: translateY(10px);
//     }
//     100%{
//         transform: translateY(-10px);
//     }
// }






// {/* My Service Section */}


.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  .services .icon-box::before {
    content: "";
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: all 0.3s;
    z-index: -1;
  }
  .services .icon-box:hover::before {
    background: #3498db;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .services .icon {
    margin: 0 auto 20px 35%;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #3498db;
    transition: all 0.3s ease-in-out;
  }

  .fabrsicn{
    //   margin-top: 0%;
    margin: -7px;
      text-align: center;
      font-size: 2em;
  }
  
   .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
   
  }
   .title a {
    color: #111;
    text-decoration: none;
  }
   .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
  }
   .icon-box:hover .title a,  .icon-box:hover .description {
    color: #fff;
  }
  .icon-box:hover .icon {
    background: #fff;
  }
   .icon-box:hover .icon i {
    color: #3498db;
  }


  // My Service heading
  
.services .section-title {
  text-align: center;
  padding-bottom: 30px;
}
.services .section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}
.services .section-title h2::before, .section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}
.services .section-title h2::before {
  margin: 0 15px 10px 0;
}
.services .section-title h2::after {
  margin: 0 0 10px 15px;
}
.services .section-title p {
  margin: 15px 0 0 0;
}