.updatelotcls .filters-container{
    padding: 10px;
    background: white;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 9px 0px #a6a6a6;
    -moz-box-shadow: 0px 0px 9px 0px #a6a6a6;
    box-shadow: 0px 0px 9px 0px #a6a6a6;
    border: 1px solid #dfdfdf;
    height: 100em;
    
  }
  .updatelotcls{
      margin: 2em;
  }

  