@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Encode+Sans+Expanded:wght@400;700&family=Josefin+Sans:wght@300&family=Mulish&family=Nunito:wght@200&family=Waterfall&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mulish', sans-serif;
}

