.abtcls .values .box {
    padding: 30px;
    box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
    text-align: center;
    transition: 0.3s;
    height: 100%;
  }
  .abtcls .values .box img {
    padding: 30px 50px;
    transition: 0.5s;
    transform: scale(1.1);
  }
  .abtcls .values .box h3 {
    font-size: 24px;
    color: #012970;
    font-weight: 700;
    margin-bottom: 18px;
  }
  .abtcls .values .box:hover {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  }
  .abtcls .values .box:hover img {
    transform: scale(1);
  }
  
  
//   .section-header {
//       text-align: center;
//       padding-bottom: 40px;
//     }
//     .section-header h2 {
//       font-size: 13px;
//       letter-spacing: 1px;
//       font-weight: 700;
//       margin: 0;
//       color: #4154f1;
//       text-transform: uppercase;
//     }
//     .section-header p {
//       margin: 10px 0 0 0;
//       padding: 0;
//       font-size: 38px;
//       line-height: 42px;
//       font-weight: 700;
//       color: #012970;
//     }
//     @media (max-width: 768px) {
//       .section-header p {
//         font-size: 28px;
//         line-height: 32px;
//       }
//     }


    // About Written Section Css
    .abtcls section {
        // padding: 80px 0;

           overflow: hidden;
    margin-top: 6em;
    margin-bottom: 6em;
      }

      .abtcls .section-title {
        text-align: center;
        padding-bottom: 30px;
      }

      .abtcls .section-title h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #124265;
      }
      .abtcls .section-title p {
        margin-bottom: 0;
        font-size: 14px;
        color: #919191;
      }


      /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    padding-left: 28px;
    position: relative;
  }
  .about .content ul li + li {
    margin-top: 10px;
  }
  .about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #2487ce;
    line-height: 1;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }
  .about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #2487ce;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #2487ce;
    text-decoration: none;
  }
  .about .content .btn-learn-more:hover {
    background: #2487ce;
    color: #fff;
    text-decoration: none;
  }






//   About Heading


.abtcls .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .abtcls .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
  }
  .abtcls .section-title h2::before, .section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
  }
  .abtcls .section-title h2::before {
    margin: 0 15px 10px 0;
  }
  .abtcls .section-title h2::after {
    margin: 0 0 10px 15px;
  }
  .abtcls .section-title p {
    margin: 15px 0 0 0;
  }
  



  // WHY US SECTION CSS

  .why-us .content {
    padding: 60px 10px 0 10px;
  }
  .why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
  }
  .why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  .why-us .content p {
    font-size: 15px;
    color: #848484;
  }
  .why-us .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .why-us .accordion-list {
    padding: 0 10px 60px 10px;
  }
  .why-us .accordion-list ul {
    padding: 0;
    list-style: none;
  }
  .why-us .accordion-list li + li {
    margin-top: 15px;
  }
  .why-us .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);

  }
  .why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;

  }
  .why-us .accordion-list span {
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
  }
  .why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  .why-us .accordion-list .icon-show {
    display: none;
  }
  .why-us .accordion-list a.collapsed {
    color: #343a40;
    text-decoration: none;
  }
  .why-us .accordion-list a.collapsed:hover {
    color: #47b2e4;
    text-decoration: none;
  }
  .why-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
  }
  .why-us .accordion-list a.collapsed .icon-close {
    display: none;
  }

  .why-us .bgimgctrl{
    height: 25em;
    max-width: 100%;
    margin: auto;
  }

  @media (max-width: 1024px) {
    .why-us .content, .why-us .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (max-width: 992px) {
    .why-us .img {
      min-height: 400px;
    }
    .why-us .content {
      padding-top: 30px;
    }
    .why-us .accordion-list {
      padding-bottom: 30px;
    }
  }
  @media (max-width: 575px) {
    .why-us .img {
      min-height: 200px;
    }
  }

  